.container {
  display: flex;
  justify-content: center;
  border-radius: 1em !important;
  overflow: hidden;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.chart-container {
  background-color: var(--green50);
  flex: 1;
}
.chart {
  display: flex;
  justify-content: center;
}

.title {
  color: var(--text-color1);
}

.data-text {
  color: var(--green800);
  font-weight: bold;
}

.sub-data-text {
  text-align: center;
}
